<li>
  <p><br><%= comment.content %></p>
  <p><% if current_user.has_liked_this?(comment) %>
       <%= link_to "Unlike", comment_like_path(post, id: current_user.id), method: :delete %>
     <% else %>
       <%= link_to "Like", comment_likes_path(comment), method: :post %>
     <% end %>
     <span> <%= pluralize(comment.likes.size, 'like') %></span></p>
  <p><% if comment.user.id == current_user.id %>
     <%= link_to "Delete", comment_path(id: comment.id), method: :delete %>
     <% end %></p>
  <p><%= link_to comment.user.full_name, user_path(comment.user) %><br>
     Commented <%= time_ago_in_words(comment.created_at) %> ago.</p>
</li>
