<h1><%= @user.full_name %></h1>
<%= gravatar_for(@user, size: 250) %><br>
<% if @user.id == current_user.id %>
  <%= link_to "Edit Account", edit_user_registration_path %>
  <%= link_to "Edit Profile", edit_profile_path %>
<% end %>

<h3>Recent posts</h3>
<%= render @user.posts %>
