<%= form_for post.comments.build, :html => { :class => "comment-form" } do |f| %>
	<p class="comment-form-gravatar"><%= gravatar_for(current_user, size:30) %></p>
	<%= f.hidden_field :post_id %>
	<%= f.text_field :content, placeholder: "Comment here!" %>
	<%= f.submit "Comment", class: "btn-primary" %>
<% end %>
